images/
baseline/
runs/
/brunch/*
!/brunch/brunch-patches/
!/brunch/kernel-patches/
!/brunch/build_kernels.sh
!/brunch/prepare_kernels.sh
/brunch/kernel-patches/experimental-*/
chromium_os-vm-vmware/
*.img
*.bin
*.vmdk
*.vmem
*.vmss
configs/packages/
minigbm/
overlay-amd64-openfyde_vmware/
project-vmware/
/scripts/collect-logs.sh
/scripts/setup-host.sh
/scripts/update-rootc.sh
